{% extends "layout.html" %}
{% block body %}
	<h2>Sign up</h2>
	{% if message %}<p class="error"><strong>Error:</strong> {{ message }}</p>{% endif %}
	<form action="{{ url_for('signup') }}" method="post">
		<dl>
			<dt>Email:</dt>
			<dd><input type="text" name="email" id="email_input"></dd>
			<dd class="input_error" id="email_error">Invalid email</dd>
			<dd class="input_error" id="email_taken">Email already taken</dd>
			<dt>Password:</dt>
			<dd><input type="password" name="password" id="password_input"></dd>
			<dd class="input_error" id="password_error">Invalid password</dd>
			<dt>Retype your password:</dt>
			<dd><input type="password" name="password_check" id="password_check_input"></dd>
			<dd class="input_error" id="password_check_error">Passwords different</dd>
			<dt>Admin:</dt>
			<dd><input type="checkbox" name="admin"></dd>
			<dd><input type="submit" value="Sign up"></dd>
		</dl>
		<script type="text/javascript" src="{{ url_for('static', filename='js/check_form.js') }}"></script>
	</form>
{% endblock %}